#
# FreeFileSync | Ignore list
#

test-output.xml
.pytest_cache/
.clj-kondo/
.cache/

/gcc-*/

/.git/

/*.tar.xz
/*.tar.gz
/curl-*/
/wxWidgets-*/

.build/
.task/
out/
vcpkg/

node_modules/
.yarn/
pnpm-lock.yaml

.idea/
cmake-build-*/
vcpkg_installed/

