#
# FreeFileSync | Ignore list
#

test-output.xml
.pytest_cache/
.clj-kondo/
.cache/

/gcc-*/

/.task/
/.git/

/*.tar.xz
/*.tar.gz
/curl-*/
/wxWidgets-*/

/.build/

node_modules/
.yarn/
pnpm-lock.yaml

.idea/
cmake-build-*/
vcpkg_installed/

/out/
